@import "../../styles/variables";

.NavbarContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 30px 70px;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  padding: 0;
}

.NavbarLink {
  font-family: $font-family;
  font-weight: $light-font-weight;
  font-size: 14px;
  list-style-type: none;
  counter-increment: navlink;

  a {
    text-decoration: none;
    color: $body-grey;
    padding: 10px 25px 10px 5px;

    &:hover {
      color: $bold-black;
    }
  }

  &::before {
    font-family: $font-family;
    content: "0" counter(navlink) ".";
    text-align: right;
    color: $primary-red;
  }
}
