/*
  COLOR PALETTE
 */

// Greyscale
$background-white: #FFFFFF;
$bold-black: #161516;
$body-grey: #ACACAE;
$block-grey: #F8F8F9;

// Primary Colours
$primary-red: #EC3124;
$primary-green: #5DF1BA;

/*
  FONT SETTINGS
 */
$font-family: 'Open Sans', sans-serif;
$light-font-weight: 300;
$normal-font-weight: 400;
$bold-font-weight: 700;

/*
  CONTAINER SETTINGS
 */
$widescreen-page-width: 2400px;
$content-page-width: 1400px;
